*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F7FC;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0B63E3;
    width: 100%;
    height: 70px;
    flex-wrap: wrap;
}
.logo{
    color: white;
    font-size: 25px;
}
.search{
    border-radius: 20px;
    background-color: #3D85ED;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 0;
    width: 500px;
}
nav a{
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 20px;

}
.main{
    
    margin: 30px 120px 20px 280px;
}
.pack_1{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: white;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    flex-wrap: wrap;
}
.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}
.range{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
    font-size: 22px;
    flex-wrap: wrap;
}
.h2{
    color: #0D6EFD;
    margin-top: 50px;
}
.container{
    display: flex;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.hero{
    background-color: white;
    height: 320px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: all 0.5s ease;

}
.hero:hover{
    transform: translateY(-10px);
}
img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text{
    margin: 15px 10px;

}
.tick{
    background-color: #0D6EFD;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}
.main_2{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.hero_2{
    width: 46%;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.08);
    transition: all 0.5s ease;
}
.hero_2:hover{
    transform: translateY(-10px);
}
.img_2{
    width: 100%;
    height: 170px;
}
.text_2{
    margin-left: 15px;
    margin-top: 15px;
}
.tick_2{
    background-color: #0D6EFD;
    width: 96.5%;
    height: 40px;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 13px;
}
@media (min-width:768px) and (max-width:1024px) {
    nav{
        display: none;
    }
    .none{
        display: none;
    }
    .logo_detail{
        display: inline-block;
    }
}