*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    display: flex;
    background-color: aqua;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: #6879E2;
    font-size: 25px;
}
nav{
    display: flex;
    align-items: center;
}
header nav a{
    text-decoration: none;
    padding: 10px 20px;
    color: black;

}
button{
    background-color: #0D6EFD;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    margin-left: 25px;
}
nav button:hover{
    cursor: pointer;
}
.logo_detail{
    display: none;
}
@media (min-width:768px) and (max-width:1024px) {
    nav{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    .logo_detail{
        display: inline-block;
    }
}